@import 'fonts.scss';
@import 'colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Noto Sans';
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
label {
    cursor: pointer;
}
button, input {
    outline: none;
    border: none;
    cursor: pointer;
}
h1 {
    font-weight: bold;
    font-size: 52px;
    line-height: 71px;
    color: $black;
}
h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
}
h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}
p {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: $gray;
}
.btn {
    width: 200px;
    height: 44px;
    background-color: $blue;
    color: #fff;
    border-radius: 10px;
    transition: .5s ease;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    &:hover {
        background-color: $drk-blue;
    }
}
.btn-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 198px;
    height: 108px;
    box-shadow: 0px 6px 20px rgba(172, 196, 232, 0.3);
    border: 1px solid transparent;
    border-radius: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    &-selected {
        background-color: #fff;
        color: $black;
        &:hover {
            background-color: #fff;
            border: 1px solid $blue;
        }
    }
    s, span {
        font-weight: bold;
        font-size: 24px;
        line-height: 140%;
    }
}
/* Header -- start */
.header {
    height: 72px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 60px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(188, 202, 224, 0.2);
    z-index: 3;
}
.logo {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    a {
        font-family: 'Roboto';
        color: $blue;
        text-transform: uppercase;
    }
}
/* Header -- end */

/* Dangteliai -- start */
.dangteliai {
    display: flex;
    padding-top: 72px;
    margin: 0 auto;
    max-width: 1920px;
    justify-content: space-between;
}
.dangteliai__left {
    max-width: 660px;
    padding: 163px 0 0 60px;
}
.dangteliai__left-descr {
    padding: 32px 0 40px;
}
.dangteliai__right-img {
    width: 708px;
    height: 742px;
    display: flex;
}
.dangteliai-select-plan {
    margin-top: 52px;
    max-width: 420px;
    display: flex;
    justify-content: space-between;
}
/* Dangteliai -- end */

/* Try-brand -- start */
.try-brand {
    padding: 128px 38px;
    text-align: center;
    background-color: $gray-bg;
}
.try-brand__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1344px;
    margin: 64px auto 0;
}
.try-brand__item, .clients-slider__item, .hto-slide__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 424px;
    height: 255px;
    background-color: #fff;
    border-radius: 16px;
    margin: 0 12px 30px;
    transition: .5s ease;
    text-align: center;
    box-shadow: 0px 6px 20px rgba(200, 217, 243, 0.3);
    h4 {
        padding: 24px 0 12px;
    }
    &:hover {
        transform: translateY(4px);
    }
    p {
        margin: 0 auto;
    }
}
/* Try-brand -- end */

/* Size -- start */
.size {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    padding: 128px 60px 128px 0;
    margin: 0 auto;
}
.size__image-select-img {
    width: 646px;
    height: 212px;
    margin-top: 10px;
}
.size__image-img {
    width: 574px;
    height: 438px;
}
.size__description {
    max-width: 660px;
    p {
        padding: 32px 0 40px;
    }
}
.size__description {
    display: flex;
    flex-direction: column;
}
/* Size -- end */

/* Why smar fresh -- start */
.why-smart-fresh {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 128px 38px 104px;
    background-color: $gray-bg;
}
.why-smart-fresh__items {
    display: flex;
    flex-wrap: wrap;
    max-width: 1344px;
    margin: 64px auto 0;
}
.why-smart-fresh__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 424px;
    text-align: center;
    margin: 0 12px 80px;
    h4 {
        padding: 24px 0 12px;
    }
    p {
        max-width: 344px;
        font-weight: 300;
        font-size: 15px;
        line-height: 150%;
        margin: 0 auto;
    }
}
.why-smart-fresh__item-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/* Why smar fresh -- end */

/* Clients -- start */
.clients {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 128px 38px 104px;
}
.clients-slider {
    display: flex;
    margin: 64px auto 0;
    max-width: 1344px;
}
.clients-slider__item {
    height: 334px;
    box-shadow: 0px 6px 20px rgba(172, 196, 232, 0.3);
    p {
        max-width: 344px;
        margin: 0 auto;
    }
}
.clients-slider__photo {
    width: 64px;
    height: 64px;
}
.about-client {
    padding-top: 16px;
    color: $blue;
    font-size: 14px;
    line-height: 19px;
}
.how-to-order {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: $gray-bg;
    padding: 128px 38px 104px;
}
/* Clients -- end */

/* How to order -- start */
.hto-slider {
    display: flex;
    margin: 64px auto 0;
    max-width: 1344px;
}
.hto-slide__item {
    display: flex;
    justify-content: flex-start;
    padding-top: 40px;
    box-shadow: 0px 6px 20px rgba(200, 217, 243, 0.3);
    width: 312px;
    height: 281px;
    span {
        font-size: 24px;
        line-height: 33px;
        position: relative;
        color: $blue;
        &::before {
            content: '';
            width: 48px;
            height: 48px;
            border: 1px solid $blue;
            background: transparent;
            border-radius: 50%;
            position: absolute;
            top: -25%;
            left: -19px;
        }
    }
    p {
        max-width: 240px;
        font-weight: 300;
        font-size: 15px;
        line-height: 150%;
    }
}
/* How to order -- end */

/* Order -- start */
.order {
    display: flex;
    justify-content: space-between;
    padding: 128px 0 128px 60px;
    max-width: 1920px;
    margin: 0 auto;
}
.order__form {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(172, 196, 232, 0.3);
    border-radius: 16px;
    max-width: 648px;
}
.order__image-img {
    display: flex;
    width: 602px;
    height: 574px;
}
.order__form-main {
    display: flex;
    flex-direction: column;
    padding: 64px;
    max-height: 574px;
    h3 {
        margin-bottom: 40px;
    }
    input {
        width: 520px;
        height: 37px;
        border-bottom: 1px solid #E6E6E6;
        margin: 16px 0 32px;
    }
    input[type=submit] {
        margin-bottom: 0;
        border-bottom: none;
        height: 44px;
    }
}
/* Order -- end */

/* Footer -- start */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 64px;
    background-color: $blue;
    p, a {
        color: #fff;
    }
}
.footer-nav {
    display: flex;
    li:nth-child(odd) {
        padding-right: 16px;
        position: relative;
        &::after {
            content: '';
            height: 15px;
            width: 1px;
            background-color: #fff;
            position: absolute;
            right: 0;
            top: 3px;
        }
    }
    li:nth-child(even) {
        padding-left: 16px;
    }
}
label {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $gray;
    &:focus {
        color: $black;
    }
}
/* Footer -- end */
.slick-slide img {
    margin: 0 auto;
}
@media screen and (max-width: 450px){
    .slick-dots li button, .slick-dots li {
        width: 6px !important;
        height: 6px !important;
    }
    .slick-dots li.slick-active button:before {
        background-color: $blue;
    }
    .slick-dots li button:before {
        width: 6px !important;
        height: 6px !important;
    }
    .try-brand__item, .clients-slider__item, .hto-slide__item, .why-smart-fresh__item {
        width: 90vw;
        p {
            width: 80%;
        }
    }
}
.slick-dots li button, .slick-dots li {
    width: 10px !important;
    height: 10px !important;
}
.slick-dots li.slick-active button:before {
    background-color: $blue;
}
.slick-dots li button:before {
    width: 10px !important;
    height: 10px !important;
    content: '' !important;
    background-color: #E5E5E5;
    border-radius: 50%;
}
@media screen and (max-width: 1400px) {
    .try-brand__item, .clients-slider__item, .hto-slide__item {
        padding: 60px 0;
    }
    .why-smart-fresh__items, .clients-slider, .hto-slider, .try-brand__items {
        max-width: 95%;
        position: relative;
        /*&::before, &::after {
            content: '';
            width: 30px;
            height: 100%;
            background: #F9FAFB;
            filter: blur(5px);
            position: absolute;
            top: 0;
            z-index: 2;
        }
        &::after {
            left: -10px;
        }
        &::before {
            right: -10px;
        }*/
    }
}
@media screen and (max-width: 1400px) {
    .try-brand__item, .hto-slide__item {
        height: 280px !important;
    }
}

@media screen and (max-width: 1330px) {
    .order {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .size {
        flex-direction: column;
    }
    .why-smart-fresh, .try-brand, .clients, .how-to-order {
        padding-left: 0px;
        padding-right: 0px;
    }
    .size {
        padding: 0 0 40px;
    }
    .size__image-img, .order__image-img {
        width: 100%;
        height: 100%;
    }
    .size__description {
        margin: 0 auto;
        text-align: center;
        align-items: center;
        h2 {
            padding-top: 24px;
        }
        p {
            padding: 16px;
        }
    }
    .size__image-select-img {
        width: 90%;
        height: auto;
        margin-top: 24px;
    }
    .order {
        padding: 0 0 40px;
    }
    .order__form {
        margin: 24px auto 0;
    }
}
/* slic settings */

.slick-list {
    padding-top: 30px !important;
    height: auto !important;
}

/* slic settings */
@media screen and (max-width: 1175px) {
    .dangteliai {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .dangteliai__right {
        display: flex;
        justify-content: flex-end;
    }
    .dangteliai__right-img {
        width: 80%;
        height: 100%;
    }
    .dangteliai__left {
        padding: 24px 22px 40px;
        margin: 0 auto;
        text-align: center;
    }
    .dangteliai-select-plan {
        margin: 52px auto 0;
    }
}

@media screen and(max-width: 768px) {
    .try-brand__item, .clients-slider__item, .hto-slide__item {
        padding-top: 40px;
    }
}

@media screen and (max-width: 690px) {
    h1 {
        font-size: 24px;
        line-height: 33px;
    }
    h2 {
        font-size: 20px;
        line-height: 140%;
    }
    h3 {
        font-size: 16px;
        line-height: 22px;
    }
    h4 {
        font-size: 18px;
        line-height: 25px;
    }
    label {
        font-size: 15px;
        line-height: 20px
    }
    input {
        font-size: 14px;
        line-height: 140%;
    }
    .footer {
        height: 93px;
        padding: 24px 20px;
        flex-wrap: wrap;
        justify-content: center;
        p {
            padding: 0 10px;
        }
        .footer-menu {
            padding: 0 10px;
        }
    }
    .try-brand__items, .why-smart-fresh__items, .clients-slider, .hto-slider {
        margin-top: 0;
    }
    .slick-list {
        padding-top: 24px !important;
    }
    .btn {
        width: 190px;
        height: 32px;
        font-size: 14px;
        line-height: 19px;
    }
    .dangteliai__left-descr {
        font-size: 14px;
    }
    .order__form-main {
        padding: 32px;
    }
    .order__form {
        width: calc(100% - 34px);
        margin: 24px 17px 0;
    }
    .order__form-main input {
        width: 100%;
    }
    .btn-plan {
        width: 140px;
        height: 117px;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        padding: 10px;
    }
    .dangteliai-select-plan {
        margin-top: 32px;
    }
    .try-brand, .why-smart-fresh, .clients, .how-to-order {
        padding: 40px 0;
    }
    .dangteliai {
        padding-top: 52px;
    }
    .dangteliai__left {
        padding-left: 16px;
        padding-right: 16px;
    }
    .dangteliai-select-plan {
        justify-content: space-around;
    }
    .header {
        height: 52px;
        padding: 10px 16px;
        .logo {
            font-size: 14px;
            line-height: 16px;
        }
        .btn {
            width: 140px;
        }
    }
    .clients-slider {
        max-width: 100%;
    }
    .clients-slider__item {
        padding: 40px 0;
    }
    .why-smart-fresh__item {
        margin-bottom: 45px;
    }
}
@media screen and (max-width: 460px) {
    .dangteliai-select-plan {
        justify-content: space-between;
        max-width: 300px;
    }
    .footer {
        p {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
        }
        .footer-nav li {
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
        }
        .footer-nav li:nth-child(odd) {
            padding-right: 8px;
        }
        .footer-nav li:nth-child(even) {
            padding-left: 8px;
        }
    }
}

